<li id="<%= dom_id activity %>">

  <%= link_to time_ago_in_words(activity.pubdate), edit_activity_path(activity) %> ago:

  <% if activity.eat %>
      <strong>🍼</strong>
  <% end %>

  <% if activity.sleep %>
      <strong>😴</strong>
  <% end %>

  <% if activity.pee %>
    <strong>💦</strong>
  <% end %>

  <% if activity.poop %>
    <strong>💩</strong>
  <% end %>
</li>
