<p style="color: green"><%= notice %></p>

<% content_for :title, "Baby tracker" %>

<%= link_to "Track something&rarr;".html_safe, new_activity_path, class: "h-link" %>
<h1>Baby tracker</h1>

<ul id="activities">
  <% @activities.each do |activity| %>
    <%= render activity %>
  <% end %>
</ul>
